h1 {
  font-family: "Enriqueta", arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: bold;
}

h1 a,
h1 a:visited {
  color: #333333;
}

h1 a:hover {
  color: #93291b;
  text-decoration: none;
}
