a,
a:visited {
  color: #93291b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #333333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5625;
  margin-bottom: 15px;
}

a.read-more {
  background-color: #93291b;
  border: 1px solid #333333;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px #93291b inset;
  color: #f5f5f5;
  padding: 5px;
}

a.read-more:hover {
  background-color: #be3523;
  border-radius: 3px 3px 3px 3px;
  text-decoration: none;
}
